In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
# Open worldometers Coronavirus Website
url = 'https://www.worldometers.info/coronavirus/'
r = requests.get(url)

# Search for the table from the website
soup = BeautifulSoup(r.text, features='html.parser')
table = soup.find('table')

In [3]:
# Format rows into list of lists
output_rows = []
for table_row in table.findAll('tr'):
    
    columns = table_row.findAll('td')
    output_row = []
    
    for column in columns:
        output_row.append(column.text)
    
    output_rows.append(output_row)

In [4]:
# Format select rows into DataFrame
tableData = pd.DataFrame(output_rows[8:59])

# Format first 14 columns
tableData = pd.DataFrame(tableData,columns=range(0,15))

# Change Column Names and remove index row
tableData.columns = pd.Index(['#','Country','Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','New Recovered','Active Cases','Critical Cases','Cases/1M pop','Deaths/1M pop','Total Tests','Tests/1M pop','Population'])
tableData.index = pd.Index(['' for i in range(51)])

In [5]:
tableData

,#,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Critical Cases,Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
,,World,"23,033,125","+183,023","800,101","+3,725","15,637,875","+129,530","6,595,149","61,805","2,955",102.6,,,
,1,USA,"5,780,892","+34,620","178,129",+705,"3,107,805","+12,321","2,494,958","16,822","17,451",538,"74,509,384","224,919","331,272,237"
,2,Brazil,"3,513,039","+7,942","112,670",+247,"2,653,407",,"746,962","8,318","16,511",530,"13,748,152","64,616","212,768,400"
,3,India,"2,973,317","+68,988","55,928",+953,"2,218,306","+60,365","699,083","8,944","2,152",40,"33,467,237","24,219","1,381,863,561"
,4,Russia,"946,976","+4,870","16,189",+90,"761,330","+5,817","169,457","2,300","6,489",111,"33,800,000","231,597","145,943,309"
,5,South Africa,"599,940",,"12,618",,"497,169",,"90,153",539,"10,098",212,"3,480,283","58,581","59,410,167"
,6,Peru,"567,059",,"27,034",,"380,730",,"159,295","1,519","17,166",818,"2,852,011","86,336","33,033,892"
,7,Mexico,"543,806","+6,775","59,106",+625,"371,638","+4,101","113,062","3,503","4,212",458,"1,226,117","9,496","129,117,943"
,8,Colombia,"513,719",,"16,183",,"339,124",,"158,412","1,493","10,081",318,"2,374,898","46,606","50,956,995"
,9,Spain,"407,879","+3,650","28,838",+25,N/A,N/A,N/A,541,"8,723",617,"7,955,615","170,147","46,757,339"
,10,Chile,"393,769","+1,920","10,723",+52,"367,897","+1,834","15,149","1,072","20,574",560,"2,142,301","111,935","19,138,783"
,11,Iran,"354,764","+2,206","20,376",+112,"305,866","+1,630","28,522","3,794","4,216",242,"2,987,117","35,502","84,138,745"
,12,UK,"323,313","+1,033","41,405",+2,N/A,N/A,N/A,76,"4,759",609,"15,177,265","223,407","67,935,641"
,13,Argentina,"320,884",,"6,567",+50,"239,806","+6,155","74,511","1,832","7,091",145,"1,052,687","23,262","45,252,733"
,14,Saudi Arabia,"305,186","+1,213","3,580",+32,"277,067","+1,591","24,539","1,675","8,748",103,"4,501,104","129,021","34,886,672"
,15,Pakistan,"291,588",+630,"6,219",+10,"273,579",+775,"11,790",722,"1,317",28,"2,389,365","10,789","221,460,187"
,16,Bangladesh,"290,360","+2,401","3,861",+39,"172,615","+3,624","113,884",,"1,761",23,"1,420,449","8,613","164,914,115"
,17,Italy,"257,065",+947,"35,427",+9,"204,960",+274,"16,678",69,"4,253",586,"7,862,592","130,069","60,449,180"
,18,Turkey,"255,723","+1,203","6,080",+22,"235,569",+772,"14,074",749,"3,028",72,"6,154,157","72,862","84,463,026"
,19,France,"234,400","+4,586","30,503",+23,"84,829",+764,"119,068",379,"3,590",467,"6,000,000","91,892","65,293,815"
,20,Germany,"232,616","+1,332","9,328",+4,"205,800","+1,000","17,488",236,"2,775",111,"10,197,366","121,656","83,821,481"
,21,Iraq,"197,085","+4,288","6,283",+75,"140,446","+3,246","50,356",587,"4,886",156,"1,393,488","34,543","40,340,634"
,22,Philippines,"182,365","+4,786","2,940",+59,"114,519",+616,"64,906",717,"1,661",27,"2,238,793","20,394","109,778,515"
,23,Indonesia,"149,408","+2,197","6,500",+82,"102,991","+2,317","39,917",,545,24,"1,989,870","7,264","273,918,933"
,24,Canada,"124,099",+226,"9,060",+6,"110,484",+196,"4,555",61,"3,284",240,"4,974,215","131,636","37,787,666"
,25,Qatar,"116,481",+257,193,,"113,216",+292,"3,072",66,"41,485",69,"577,122","205,542","2,807,805"
,26,Ecuador,"106,481",+973,"6,248",+48,"87,730",+70,"12,503",350,"6,023",353,"301,496","17,054","17,679,078"
,27,Bolivia,"106,065","+1,015","4,305",+72,"41,111","+1,146","60,649",71,"9,070",368,"225,297","19,265","11,694,550"
,28,Kazakhstan,"104,071",+256,"1,415",,"87,920","+1,470","14,736",221,"5,534",75,"2,291,327","121,832","18,807,256"
,29,Israel,"100,716","+1,117",809,+14,"77,785","+3,206","22,122",390,"10,950",88,"2,180,096","237,029","9,197,590"
,30,Ukraine,"100,643","+2,106","2,207",+23,"51,078",+637,"47,358",177,"2,303",51,"1,378,519","31,548","43,695,861"
,31,Egypt,"97,025",,"5,212",,"63,462",,"28,351",41,946,51,"135,000","1,316","102,590,466"
,32,Dominican Republic,"89,867",+857,"1,533",+28,"59,132","+1,398","29,202",287,"8,273",141,"339,860","31,287","10,862,806"
,33,Sweden,"86,068",,"5,810",+5,N/A,N/A,N/A,26,"8,515",575,"1,030,010","101,900","10,108,001"
,34,Panama,"83,855",,"1,844",,"59,174",,"22,837",154,"19,393",426,"287,300","66,445","4,323,882"
,35,Oman,"83,769",,609,,"78,386",,"4,774",151,"16,350",119,"309,212","60,353","5,123,430"
,36,Belgium,"80,178",+699,"9,976",+7,"18,131",+53,"52,071",82,"6,914",860,"2,074,445","178,883","11,596,664"
,37,Kuwait,"79,269",+502,511,+2,"71,264",+622,"7,494",95,"18,525",119,"581,118","135,805","4,279,075"
,38,Romania,"76,355","+1,392","3,196",+42,"34,523",+327,"38,636",489,"3,973",166,"1,591,015","82,783","19,219,141"
,39,Belarus,"70,111",+161,632,+5,"68,256",+327,"1,223",,"7,420",67,"1,455,885","154,080","9,448,882"
,40,Guatemala,"66,941",+958,"2,532",+26,"55,314",+963,"9,095",5,"3,727",141,"216,776","12,070","17,959,594"
,41,UAE,"66,193",+391,370,+1,"58,296",+143,"7,527",,"6,682",37,"6,348,109","640,793","9,906,649"
,42,Netherlands,"65,589",+535,"6,195",+4,N/A,N/A,N/A,56,"3,827",361,"1,312,787","76,591","17,140,202"
,43,Poland,"60,281",+903,"1,938",+13,"41,029",+548,"17,314",84,"1,593",51,"2,493,423","65,893","37,840,722"
,44,Japan,"58,501",,"1,144",,"45,266",,"12,091",237,463,9,"1,259,422","9,962","126,421,114"
,45,Singapore,"56,216",+117,27,,"53,651",+532,"2,538",,"9,599",5,"1,745,928","298,108","5,856,690"
,46,Portugal,"55,211",+219,"1,792",+4,"40,473",+209,"12,946",41,"5,417",176,"1,880,235","184,473","10,192,461"
,47,Honduras,"52,819",+521,"1,619",+11,"8,082",+215,"43,118",49,"5,321",163,"129,411","13,038","9,925,734"
,48,Nigeria,"50,964",,992,,"37,569",,"12,403",7,246,5,"352,625","1,705","206,802,324"
,49,Morocco,"49,247","+1,609",817,+42,"34,199","+1,393","14,231",31,"1,332",22,"1,670,569","45,187","36,970,089"
,50,Bahrain,"48,303",,181,+2,"44,628",,"3,494",37,"28,265",106,"1,011,805","592,064","1,708,944"